<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv=-"Content-Type" content="text/html; charset=UTF-8">
	<!-- on ouvre la fenetre à la largeur de l'écran -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Sdz{% endblock %}</title>

	{% stylesheets filter='cssrewrite'
	'@SdzBlogBundle/Resources/public/css/app.css'
	'css/bootstrap.min.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}

</head>
<body>
	<div class="container">
		<div id="header" class="jumbotron">
			<h1>Mon Projet Symfony2</h1>
			<p>Ce projet est propulsé par Symfony2, et construit grâce au tutoriel OpenClassRoom</p>
			<p><a href="http://fr.openclassrooms.com/informatique/cours/developpez-votre-site-web-avec-le-framework-symfony2" class="btn btn-primary btn-lg" target="_blank" >Lire le tutoriel</a></p>
		</div>
		<div class="row">
			<div id="menu" class="col-xs-3 col-lg-3">
				<h3>Le blog</h3>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="{{ path('sdzblog_accueil') }}">Accueil du blog</a></li>
					<li><a href="{{ path('sdzblog_ajouter') }}">Ajouter un article</a></li>
				</ul>

				{{ render(controller("SdzBlogBundle:Blog:menu", {'nombre': 3})) }}
			</div>

			<div id="content" class="col-xs-9 col-lg-9">
				{% block body %}
				{% endblock %}</div>
			</div>

			<hr>

			<footer>
				<p style="text-align:center">The sky's the limit © 2012 and beyond</p>
			</footer>
	</div>
	

	{% block javascripts %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function(){
				console.time("test1");
  				console.log("jQuery est prêt !");
  				console.timeEnd("test1");
			});

		</script>
	{% endblock %}
</body>
</html>