<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv=-"Content-Type" content="text/html; charset=UTF-8">
	<!-- on ouvre la fenetre à la largeur de l'écran -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Sdz{% endblock %}</title>

	{% stylesheets filter='cssrewrite'
	'@SdzBlogBundle/Resources/public/css/app.css'
	'css/bootstrap.min.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}

</head>
<body>
	<div class="container">
		<div id="header" class="jumbotron">
			<h1>Mon Projet Symfony2</h1>
			<p>Ce projet est propulsé par Symfony2, et construit grâce au tutoriel OpenClassRoom</p>
			<p><a href="http://fr.openclassrooms.com/informatique/cours/developpez-votre-site-web-avec-le-framework-symfony2" class="btn btn-primary btn-lg" target="_blank" >Lire le tutoriel</a></p>
		</div>
		<div class="row">
			<div id="menu" class="col-xs-3 col-lg-3">
				<h3>Le blog</h3>
				<ul class="nav nav-pills nav-stacked">
					<li><a href="{{ path('sdzblog_accueil') }}">Accueil du blog</a></li>
					<li><a href="{{ path('sdzblog_ajouter') }}">Ajouter un article</a></li>
				</ul>

				{{ render(controller("SdzBlogBundle:Blog:menu", {'nombre': 3})) }}
			</div>

			<div id="content" class="col-xs-9 col-lg-9">
				{% block body %}
				{% endblock %}</div>
			</div>

			<hr>

			<footer>
				<p style="text-align:center">The sky's the limit © 2014 and beyond</p>
			</footer>
	</div>
	

	{% block javascripts %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap-file-input.js') }}"></script>
		<script type="text/javascript">

			$(document).ready(function() {


            // Permet de supprimer les labels ajoutés dans la page
            //$('label[for=article_categories], label[for=article_edit_categories]').replaceWith('');
            // il vaut mieux utiliser la fonction $('1element').replaceWith('').add('2element').replaceWith('');

            $('label[for=article_categories], label[for=article_edit_categories]').text('Nom de la catégories').detach().appendTo('.label-select');

            // Selectionner Le <select>
            var select = $('select#article_categories, select#article_edit_categories').addClass('form-control');

            
            // déplacer le select de son emplacement d'origine pour le greffer dans la div de class .select
            $('select#article_edit_categories, select#article_categories').detach().appendTo('.select');

            // Supprimer la div générée 
            $('.select>.form-group').remove();

            // Uliliser le plugin pour styliser les input file à la façon bootstrap
            $('input[type=file]').bootstrapFileInput();
            $('.file-inputs').bootstrapFileInput();
            $('input[type=file]').attr('title', 'cliquer pour importer le fichier');

            // // On récupère la balise <div> en question qui contient
            // //l'attribut « data-prototype » qui nous intéresse.
            // var $container = $('div.categories');
            // // On ajoute un lien pour ajouter une nouvelle catégorie
            // var $lienAjout = $('<a href="#" id="ajout_categorie" class="btn">Ajouter une catégorie</a>');
            // $container.append($lienAjout);
            // // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            // $lienAjout.click(function(e) {
            //     ajouterCategorie($container);
            //     e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            //     return false;
            // });
            // // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            // var index = $container.find(':input').length;
            // // On ajoute un premier champ directement s'il n'en existe pas déjà un (cas d'un nouvel article par exemple).
            // if (index == 0) {
            //     ajouterCategorie($container);
            // } else {
            //     // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
            //     $container.children('div').each(function() {
            //         ajouterLienSuppression($(this));
            //     });
            // }

            // // La fonction qui ajoute un formulaire Categorie
            // function ajouterCategorie($container) {
            //     // Dans le contenu de l'attribut « data-prototype », on remplace :
            //     // - le texte "__name__label__" qu'il contient par le label du champ
            //     // - le texte "__name__" qu'il contient par le numéro du champ
            //     var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index + 1))
            //             .replace(/__name__/g, index));

            //     // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
            //     ajouterLienSuppression($prototype);
            //     // On ajoute le prototype modifié à la fin de la balise <div>
            //     $container.append($prototype);
            //     // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
            //     index++;
            // }
            // // La fonction qui ajoute un lien de suppression d'une catégorie
            // function ajouterLienSuppression($prototype) {
            //     // Création du lien
            //     $lienSuppression = $('<a href="#" class="btn btn-danger">Supprimer</a>');
            //     // Ajout du lien
            //     $prototype.append($lienSuppression);
            //     // Ajout du listener sur le clic du lien
            //     $lienSuppression.click(function(e) {
            //         $prototype.remove();
            //         e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            //         return false;
            //     });
            // }


            // $('.select > div').empty();
        }


        );

		</script>
	{% endblock %}
</body>
</html>