{% form_theme form 'SdzBlogBundle:Form:fields.html.twig' %}
<h3>Formulaire d'article</h3>

<div class="well">
	<form class="form-horizontal" role="form" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}
		<fieldset>
			<legend>Article</legend>
			<div class="form-group">
				<div class="col-sm-2
				">{{ form_label(form.date, "Date de création", {'attr': {'class': 'control-label'}}) }}</div>
				{{ form_errors(form.date) }}
				<div class="col-sm-2 col-xs-4">{{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2
				">{{ form_label(form.titre, "Titre de l'article", {'attr': {'class': 'control-label'}}) }}</div>
				{{ form_errors(form.titre) }}
				<div class="col-sm-5">{{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2
				">{{ form_label(form.contenu, "Contenu de l'article", {'attr': {'class': 'control-label'}}) }}</div>
				{{ form_errors(form.contenu) }}
				<div class="col-sm-5">{{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2
				">{{ form_label(form.auteur, "Auteur de l'article", {'attr': {'class': 'control-label'}}) }}</div>
				{{ form_errors(form.auteur) }}
				<div class="col-sm-5">{{ form_widget(form.auteur, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group">
			    <div class="col-sm-2">{{ form_label(form.publication, "Publication") }}</div>
			    {{ form_errors(form.publication) }}
			    <div class="col-sm-5">{{ form_widget(form.publication) }}</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Image</legend>
			<div class="form-group">
				<div class="col-sm-2
				">{{ form_label(form.image.url, "L'URL de l'image", {'attr': {'class': 'control-label'}}) }}</div>
				{{ form_errors(form.image.url) }}
				<div class="col-sm-5">{{ form_widget(form.image.url, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2
				">{{ form_label(form.image.alt, "Alt de l'image", {'attr': {'class': 'control-label'}}) }}</div>
				{{ form_errors(form.image.alt) }}
				<div class="col-sm-5">{{ form_widget(form.image.alt, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Catégories</legend>	
			<div class="categories" data-prototype="{{ form_widget(form.categories.vars.prototype)|e }}">
				
			</div>
		</fieldset>
		{{ form_widget(form._token) }}
		<input type="submit" class="btn btn-primary">
	</form>
</div>
