{% extends 'SdzBlogBundle::layout.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block sdzblog_body %}
	<h2>Liste des articles</h2>
	<ul>
		{% for article in articles %}
			{% include "SdzBlogBundle:Blog:article.html.twig" with { 'accueil': true } %}
			<hr/>
		{% else %}
			<li>Pas encore d'articles</li>
		{% endfor %}

	</ul>
	
	<div class="text-center">
		<ul id="pagination" class="pagination">
				{% if page > 1 %}
					<li><a href="{{ path('sdzblog_accueil', {'page': page-1 })}}">&laquo;</a></li>
				{% else %}
					<li class="disabled"><a href="#"><span>&laquo;</span></a>
				{% endif %}
				{% if (nombrePage % 3 + page) >= nombrePage %}
					{% for p in range(page - page % 3, nombrePage) %}
						<li {% if p == page %}class="active"{% endif %}><a href="{{ path('sdzblog_accueil', {'page': p})}}">{{ p }}</a></li>
					{% endfor %}
					<li class="disabled"><a href="#">&raquo;</a></li>
				{% else %}
					{% for p in range(page, nombrePage % 3 + page) %}
						<li {% if p == page %}class="active"{% endif %}><a href="{{ path('sdzblog_accueil', {'page': p})}}">{{ p }}</a></li>
					{% endfor %}

					<li><a href="{{ path('sdzblog_accueil', {'page': page+1 })}}" ><span>&raquo;</span></a>
				{% endif %}
		</ul>
	</div>		
{% endblock %}

