{% extends 'SdzBlogBundle::layout.html.twig' %}

{% block title %}{{ 'index.title'|trans }} - {{ parent() }}{% endblock %}

{% block sdzblog_body %}
	<h2>{{ 'index.list_articles'|trans }}</h2>
	<ul id="liste_articles">
		{% for article in articles %}
			{% include "SdzBlogBundle:Blog:article.html.twig" with { 'accueil': true } %}
			<hr/>
		{% else %}
			<li>{{ 'index.no_articles'|trans }}</li>
		{% endfor %}
	</ul>
	<div class="text-center">
		<ul id="pagination" class="pagination">
			{# nbLinks : nombre de liens à afficher dans la page #}
			{% set nbLinks = 3 %}
			{# Si le nombrePage #}
			{% if nombrePage < nbLinks %}
				{% set nbLinks = nombrePage %}
			{% endif %}
			{# On se trouve dans les derniers élèments de la liste : de nombrePage - nbLinks + 1 #}
			{% if (page + nbLinks - 1) > nombrePage %}
				{% for p in range(nombrePage-nbLinks+1, nombrePage) %}
					{% if loop.first %}
						{% if p == 1 %}
							<li class="disabled"><a href="#"><span>&laquo;</span></a>
							<li class="disabled"><a href="#"><span>&lsaquo;</span></a>
						{% else %}
							<li><a href="{{ path('sdzblog_accueil', {'page': 1 })}}"><span>&laquo;</span></a></li>
							<li><a href="{{ path('sdzblog_accueil', {'page': p - 1 })}}"><span>&lsaquo;</span></a></li>
						{% endif %}
					{% endif %}
					<li {% if p == page %}class="active"{% endif %}><a href="{{ path('sdzblog_accueil', {'page': p})}}"><span>{{ p }}</span></a></li>
					{% if loop.last %}
						{% if p == nombrePage %}
							<li class="disabled"><a href="#"><span>&rsaquo;</span></a></li>
							<li class="disabled"><a href="#"><span>&raquo;</span></a></li>
						{% else %}
							<li><a href="{{ path('sdzblog_accueil', {'page': p + 1 })}}" ><span>&rsaquo;</span></a>
							<li><a href="{{ path('sdzblog_accueil', {'page': nombrePage })}}" ><span>&raquo;</span></a>
						{% endif %}
					{% endif %}
				{% endfor %}
			{# Sinon on affiche les liens du début jusqu'à page-nbLinks+1 #}
			{% else %}
				{% for p in range(page, page+nbLinks-1) %}
					{% if loop.first %}
						{% if p == 1 %}
							<li class="disabled"><a href="#"><span>&laquo;</span></a>
							<li class="disabled"><a href="#"><span>&lsaquo;</span></a>
						{% else %}
							<li><a href="{{ path('sdzblog_accueil', {'page': 1 })}}"><span>&laquo;</span></a></li>
							<li><a href="{{ path('sdzblog_accueil', {'page': page-1 })}}"><span>&lsaquo;</span></a></li>
						{% endif %}
					{% endif %}
					<li {% if p == page %}class="active"{% endif %}><a href="{{ path('sdzblog_accueil', {'page': p})}}"><span>{{ p }}</span></a></li>
					{% if loop.last %}
						{% if p == nombrePage %}
							<li class="disabled"><a href="#"><span>&raquo;</span></a></li>
							<li class="disabled"><a href="#"><span>&rsaquo;</span></a></li>
						{% else %}
							<li><a href="{{ path('sdzblog_accueil', {'page': page+loop.length })}}" ><span>&rsaquo;</span></a>
							<li><a href="{{ path('sdzblog_accueil', {'page': nombrePage })}}" ><span>&raquo;</span></a>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		</ul>
	</div>

{% endblock %}

