{% extends 'SdzBlogBundle::layout.html.twig' %}


{% block title %}
	{{ 'article.look.title'|trans }} - {{ parent() }}
{% endblock %}

{% block sdzblog_body %}
	{% include 'SdzBlogBundle:Blog:article.html.twig' %}

{% if liste_articleCompetence|length > 0 %}
<div>
	{{ 'article.skills.content'|trans }}
	<ul class="competences">
		{% for articleCompetence in liste_articleCompetence %}
			{# On déclenche une requete à chaque tour de boucle pour chercher la competence associée à l'article
			   à cause de l'instruction articleCompetence.competence.nom
			#}
			<li>{{ articleCompetence.competence.nom }} : {{ articleCompetence.niveau }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<p>
	<ul class="pager">		
		<li>
			<a href="{{ path('sdzblog_accueil') }}" class="btn"><i class="glyphicon glyphicon-chevron-left"></i>  {{ 'article.link.return'|trans }}</a>
		</li>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<li>
				<a href="{{ path('sdzblog_modifier', {'slug': article.slug}) }}" class="btn"><i class="glyphicon glyphicon-edit"></i> {{ 'article.link.edit'|trans }}</a>
			</li>
			<li>
				<a href="{{ path('sdzblog_supprimer', {'slug': article.slug }) }}" class="btn"><i class="glyphicon glyphicon-remove-circle"></i>  {{ 'article.link.delete'|trans }}</a>
			</li>
		{% endif %}
	</ul>
</p>

<hr>

	<h3>{{ 'comments'|transchoice(liste_commentaires|length) }} ({{ liste_commentaires|length }}) <a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></h3>

{% for comment in liste_commentaires %}
	<i>Posté par: {{ comment.auteur }}, le {{ comment.date|date('d/m/Y') }}</i>
	<div class="well">
		{{ comment.contenu }}
	</div>
{% endfor %}
{% endblock %}