{% extends 'SdzBlogBundle::layout.html.twig' %}


{% block title %}
	Lecture d'un article - {{ parent() }}
{% endblock %}

{% block sdzblog_body %}
<h2>
	{% if article.image is not null %}
		<img src="{{ article.image.url }}" alt="{{ article.image.alt }}" class="logo"/>
	{% endif %}
	{{ article.titre }}</h2>
<i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>
<div class="well">
	{{ article.contenu }}
</div>
<p>
	<a href="{{ path('sdzblog_accueil') }}" class="btn"><i class="icon-chevron-left"></i>Retour à la liste</a>
	<a href="{{ path('sdzblog_modifier', {'id': article.id}) }}" class="btn"><i class="icon-edit"></i>Modifier l'article</a>
	<a href="{{ path('sdzblog_supprimer', {'id': article.id }) }}" class="btn"><i class="icon-trash"></i>Supprimer l'article</a>
</p>

{% if liste_commentaires|length == 0 %}
	<h3>Commentaire (0 commentaire pour le moment.)</h3>
{% else %}
	<h3>Commentaires ({{ liste_commentaires|length }} commentaires)</h3> 
{% endif %}
{% for comment in liste_commentaires %}
	<i>Posté par: {{ comment.auteur }}, le {{ comment.date|date('d/m/Y') }}</i>
	<div class="well">
		{{ comment.contenu }}
	</div>
{% endfor %}
{% endblock %}