{% extends 'SdzBlogBundle::layout.html.twig' %}


{% block title %}
	Lecture d'un article - {{ parent() }}
{% endblock %}

{% block sdzblog_body %}
	{% include 'SdzBlogBundle:Blog:article.html.twig' %}

{% if liste_articleCompetence|length > 0 %}
<div>
	Compétences utilisées dans cet article :
	<ul class="competences">
		{% for articleCompetence in liste_articleCompetence %}
			{# On déclenche une requete à chaque tour de boucle pour chercher la competence associée à l'article
			   à cause de l'instruction articleCompetence.competence.nom
			#}
			<li>{{ articleCompetence.competence.nom }} : {{ articleCompetence.niveau }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<p>
	<ul class="pager">		
		<li>
			<a href="{{ path('sdzblog_accueil') }}" class="btn"><i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste</a>
		</li>
		<li>
			<a href="{{ path('sdzblog_modifier', {'slug': article.slug}) }}" class="btn"><i class="glyphicon glyphicon-edit"></i> Modifier l'article</a>
		</li>
		<li>
			<a href="{{ path('sdzblog_supprimer', {'slug': article.slug }) }}" class="btn"><i class="glyphicon glyphicon-remove-circle"></i> Supprimer l'article</a>
		</li>
	</ul>
</p>

<hr>

{% if liste_commentaires|length > 1 %}
	<h3>Commentaires ({{ liste_commentaires|length }}) <a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></h3>
{% else %}
	<h3>Commentaire ({{ liste_commentaires|length }}) <a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></h3>
{% endif %}
{% for comment in liste_commentaires %}
	<i>Posté par: {{ comment.auteur }}, le {{ comment.date|date('d/m/Y') }}</i>
	<div class="well">
		{{ comment.contenu }}
	</div>
{% endfor %}
{% endblock %}